/* =========GERAL========== */

:root {
  font-size: 62.5%; /* 1 rem = 10px*/
  --primary-color: #00856f;
  --headline: #212529;
  --brand-beige: #fffaf1;
  --paragraph: #495057;
  --background: #dce9e2;
  --nav-height: 7.2rem;
  --bg-light: #f7f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  overflow: overlay;
  background: var(--bg-light);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

section {
  padding-block: 10rem;
}
/*===== HOME ====*/

.wrapper {
  margin-inline: auto;
  width: 37.5rem;
  padding-inline: 2.4rem;
}
#home {
  padding-top: calc(4.1rem + var(--nav-height));
}
#home::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--background);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

#home h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}
#home p {
  font-size: 1.8rem;
  line-height: 130%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

#home button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 26.3rem;
  height: 5.2rem;
  line-height: 1.8rem;
  border-radius: 4rem;
  border: 0;
  margin-bottom: 6rem;
  padding: 16px 32px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--primary-color);
  text-transform: uppercase;
  margin-inline: auto;
}

.imgCapa {
  margin-inline: auto;
  display: block;
  object-position: 0 2rem;
}

#home .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  background-color: var(--brand-beige);
  border: 1px solid #dce9e2;
  border-radius: 0.6rem;

  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;
}
#home .stat {
  margin: 0;
  padding: 0;
}
#home .stat h3 {
  font-size: 4.8rem;
  line-height: 130%;
  color: #212529;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);
  line-height: 150%;
  font-size: 1.6rem;
}

/* ======= NAV ======= */
nav {
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.scroll {
  transition: all 0.5s;
  background-color: var(--primary-color);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: 0;
  cursor: pointer;
}
/* ======= MENU-EXPANDED ======= */
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  display: none;
}
.menu,
.closeMenu,
body.menu-expanded .openMenu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .closeMenu {
  opacity: 1;
  visibility: visible;
}
.menu {
  transform: translateY(100%);
}
body.menu-expanded .menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);
  transition: transform 400ms;
  transform: translateY(0);
}

body.menu-expanded nav {
  position: relative;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.8rem;

  margin-top: 6rem;

  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: bold;
}
.menu .button {
  padding: 1.6rem 3.2rem;
  background-color: #ffffff;
  border-radius: 4rem;
  color: var(--primary-color);
  line-height: 2.3rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;

  display: inline-block;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}
.menu ul li a {
  color: #ffffff;
}
.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}
body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

/* ======= SERVICES ======= */

#services header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08em;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

#services header h2 {
  color: var(--headline);
  font-size: 3rem;
  line-height: 3.9rem;
  margin-bottom: 6rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2.3rem;
  gap: 1.6rem;
  text-align: left;

  border: 1px solid var(--background);
  border-radius: 0.6rem;
  background-color: #ffffff;
}
.card h3 {
  color: var(--headline);
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: center;
}
.card p {
  color: var(--paragraph);
  font-size: 1.6rem;
  line-height: 150%;
}
