:root {
  font-size: 62.5%; /* 1 rem = 10px*/
  --primary-color: #00856f;
  --headline: #212529;
  --brand-beige: #fffaf1;
  --paragraph: #495057;
  --background: #dce9e2;
}

@font-face {
  font-family: 'DM sans';
  src: url('./assets/fonts/DM_Sans/DMSans-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
}
.container {
  background-color: var(--background);
  margin-top: 4.1rem;
  margin-left: auto;
  margin-right: auto;
  width: 37.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
  padding-left: 2rem;
}

.titleH4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

h1 {
  font: 31.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}
p {
  font-size: 1.8rem;
  line-height: 130%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 26.3rem;
  height: 5.2rem;
  line-height: 1.8rem;
  border-radius: 4rem;
  border: 0;
  margin-bottom: 6rem;
  padding: 16px 32px;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--primary-color);
  text-transform: uppercase;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  background-color: var(--brand-beige);
  border: 1px solid #dce9e2;
  border-radius: 0.6rem;

  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;
}
.stat > h3 {
  font-size: 4.8rem;
  line-height: 130%;
  color: #212529;
}
.stat {
  margin: 0;
  padding: 0;
}

.stat p {
  margin: 0;
  color: var(--primary-color);
  line-height: 150%;
  font-size: 1.6rem;
}

.imgCapa {
  margin-inline: auto;
  display: block;
  object-position: 0 2rem;
}
